<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">COVID-19 Statistics</h2>
    </div>
  </div>
  <div class="row" style="margin-left: 110px">
    <div class="col-md-12">
       <app-choropleth-map></app-choropleth-map>
    </div>
    <div class="col-md-12">
      <app-scatter-plot></app-scatter-plot>
    </div>
  </div>
<!--  <div class="row" style="margin-top: 30px; margin-left: 110px">-->
<!--    <div class="col-md-6">-->
<!--&lt;!&ndash;      <app-line-chart id="lineChart"></app-line-chart>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <app-area-chart id="areaChart"></app-area-chart>-->
<!--    </div>-->
<!--  </div>-->
</div>
